* {font-family: Helvetica, Arial, sans-serif; }

title {
    line-height: 40px;
    margin-left:20px;
    padding-left: 70px;
    background: url('./images/icon16.ico') no-repeat left center;
    background-size: 50px 50px;
}
:root {
  --max-width: min(800px, 100vw);
  --base: #004848;
  --hint-of: #ffb7b7;
}
*{ user-select: text; }
#articleContent { display: flex; flex-direction: column; max-width: var(--max-width); margin: auto; }
#articleContent > p {padding: 0px 12px 0px 12px;} 
h1, h2, h3, h4 {text-align: center; font-family: Courier New,Courier,Monaco,monospace; }
a, h1,h2,h3,h4,h5,h6 { color: var(--base); font-weight: 600; }
a:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover{ 
  background: var(--hint-of); 
}
a, span{ font-family: inherit; text-decoration: none;}
h1 > a:hover { text-decoration: underline; }
summary{ text-align: center; cursor: pointer;}
summary>*{ display:inline-block }
summary::marker { content: "🧡"; } 
details[open] summary::marker { content: "💖"; }
details[open] details summary::marker { content: "🧡" }
details[open] details[open] summary::marker { content: "💖"; } 
details{padding: 12px;} 
details > img {display:block; margin:auto;}
p { word-break: break-word; font-family: Georgia,TimesNewRoman,Times,Times New Roman,serif; }
pre{ max-width: calc( var(--max-width) - 70px); background: var(--hint-of); padding: 12px; }
pre > code { color: white; } 
blockquote{ 
  font-style:italic; background-color: var(--hint-of); 
  color: #eee; border-left:8px solid var(--hint-of); 
  position: relative; padding: 12px 5px 1px 5px; 
}
blockquote::before{ content: "\201C"; color: var(--hint-of); padding-top: 6px; font-size:4em; position: absolute; left: 10px; top:-10px; }
.twitter-tweet{ margin:auto; }
blockquote span{ color: var(--hint-of); font-style: normal; font-weight: bold; display: block; text-align: center; }
::selection {  background: var(--hint-of); }